@charset "utf-8";

@import './../../styles/fw.scss';

.button {
    @include fontSize(40px);
}

.header {
    @include height(90px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 2px #ccc;
    z-index: 10;
}

.inner {
    position: relative;
    @include width(100%);
    @include height(100%);
    @include pd(20px);
}

.title {
    @include width(160px);
    position: absolute;
    @include top(50%);
    @include left(20px);
    transform: translateY(-50%);
}

.list {
    @include width(520px);
    position: absolute;
    @include top(50%);
    @include left(50%);
    transform: translate(-50%,-50%);
    text-align: center;
}

.item {

}

.anchor {
    color: #000;
    font-weight: 700;
    position: relative;
    display: inline-block;

    &::before {
        content: '';
        display: block;
        @include width(100%);
        @include height(20px);
        position: absolute;
        @include bottom(-3px);
        @include left(0);
        background-image: linear-gradient($color_main, $color_main);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 0% 5px;
        transition: background-size .3s ease-out;
    }

    &:hover {

        &::before {
            background-size: 100% 5px;
        }
    }
}

.sns {
    @include width(120px);
    position: absolute;
    @include top(50%);
    @include right(140px);
    transform: translate(-50%,-50%);
    text-align: center;
}

.contact {
    position: absolute;
    @include top(0);
    @include right(0);
    @include width(100px);
    @include height(100%);
    background-color: $color_button_blue;
    color: #fff;
    

     a {
        color: #fff;
        line-height: 1.8;
        @include width(100%);
        @include height(100%);
        @include flexBase( $wrap: "nowrap", $direction: "column", $justify: "center", $align: "center" );
    }
}